html {
    box-sizing: border-box;
    font-size: 70%;
}
body {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    background-color: #F3F5FC;
    margin: auto;
}
img {
    max-width: 100%;
}
h1 {
    font-size: 30px;
    text-align: left;
}
header {
    display: flex;
    text-align: right;
    align-items: center;
    margin-bottom: 20px;
}
.textArea {
    resize: none;
    font-size: 40px;
    color: #0A3871;
    background-color: #F3F5FC;
    border: none;
    outline: none;
    width: 100%;
    height: 600px;
}
.mensaje{
    display: none;
    resize: none;
    font-size: 40px;
    color: #0A3871;
    background-color: #ffffff;
    border: none;
    outline: none;
    width: 100%;
    height: 600px;
}
.aviso{
    width: 15px;
}
button {
    width: 40%;
    padding: 20px 0;
    border-radius: 20px;
    cursor: pointer;
    border-color: #F3F5FC;
}

button:active {
    box-shadow: 2px 2px 2px #000;
}
.botones{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.btn-encriptar ,.btn-copiar{
    background-color: #0A3871;
    font-size: 20px;
    color: #FFFFFF;
}
.btn-desencriptar{
    background-color: #ffffff;
    font-size: 20px;
}

.contenedor-principal{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.contenedor1{
    width: 40%;
}
.contenedor2 {
    display: flex;
    width: 40%;
    background-color: #FFFFFF;
    box-shadow: 0rem 2.4rem 3.2rem -.8rem rgba(0, 0, 0, 0.08);
    border-radius: 2rem;
    padding: 2rem;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
}
.contenedor-principal{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.btn-encriptar:hover ,.btn-desencriptar:hover{
    scale: 1.13;
    transition: 0.5s all;
    cursor: pointer;
}
.btn-copiar{
    cursor: pointer;
}
.btn-encriptar:active ,.btn-desencriptar:active{
    border-color: #000;
    transition: none;
}
.CopiarBoton{
    flex-direction: column;
}
.contenedor3{
    display: none;
    width: 40%;
    background-color: #FFFFFF;
    box-shadow: 0rem 2.4rem 3.2rem -.8rem rgba(0, 0, 0, 0.08);
    border-radius: 2rem;
    padding: 2rem;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
}
footer{
    display: flex;
    justify-content: center;
    background-color:#0A3871;
    color: #FFFFFF;
    padding: 2%;
    margin-top: 50px;
}

.footer__social {
    list-style: none;
    display: flex;
    padding-left: 10px;
}
.footer__midia{
    padding: 15px;
}
.derechos{
    padding-top: 15px;
}

/* Responsive */

@media screen and (max-width: 768px) {
    main{
        flex-direction: column;
        padding: 20px;
    }
    .contenedor-principal{
        align-items: center;
    }
    .contenedor1 ,.contenedor2{
        width: 100%;
        margin: 20px;
    }
    .contenedor2{
        scale: 0.9;
    }
    .textArea{
        height: 400px;
        font-size: 20px;
        width: 90%;
    }
    footer{
        font-size: 10px;
        width: 100%;
    }
}